.custom-btn {
    padding: 1.25rem 3.75rem;
    border: none;
    outline: none;
    position: relative;
    border-radius: 0.3125rem;
    background: linear-gradient(to right, #4e98d5, #4a30c2);
    cursor: pointer;
    font-weight: 800;
    letter-spacing: 0.0625rem;
    color: white;
    font-size: 0.9375rem;
}


.submit {
    padding: 1.25rem 3.75rem;
    border: none;
    outline: none;
    position: relative;
    border-radius: 0.9375rem;
    background: #000000;
    cursor: pointer;
    font-weight: 800;
    letter-spacing: 0.0625rem;
    color: white;
    font-size: 0.9375rem;
}