.contact-conatiner {
    background: linear-gradient(to left, #4e98d5, #4a30c2);
    font-family: "Inter", sans-serif;
    word-wrap: break-word;
    border-top-left-radius: 150px 150px;
    border-top-right-radius: 150px 150px;
}

.contact-conatiner>h5 {
    color: #FFFFFF;
    margin-bottom: 0.9375rem;
    font-size: 1.5625rem;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    letter-spacing: 1px;
    padding-top: 40px;


}

.contact-details>h5 {
    color: #FFFFFF;
    margin-bottom: 0.9375rem;
    font-size: 1.5625rem;

    margin-top: 5%;
    margin-bottom: 5%;
    letter-spacing: 1px;
}

.contact-content {
    /* display: flex;
    justify-content: space-between; */
    padding-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    flex-wrap: wrap;
}

ul>div {
    display: flex;
    align-items: center;
    gap: 2%
}

ul>div>span {
    color: #ffffff;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: bold;
}

ul>div>li {
    width: 70px;
    height: 70px;
    background: linear-gradient(to top, #4e98d5, #4a30c2);
    color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}


/* x-small below 576px device*/
@media screen and (max-width:576px) {}

/* small above 576px device*/
@media screen and (min-width:576px) and (max-width:768px) {}

/* medium above 768px device*/
@media screen and (min-width:768px) and (max-width:992px) {}

/* large above 992px device*/
@media screen and (min-width:992px) {}