.home-conatiner {
    margin-top: 3.125rem;
}

.first-char {
    letter-spacing: 0.1875rem;
    color: #7f8690;
    font-size: 3.125rem;
    font-weight: bolder;
}

.name {
    color: #ffffff;
    letter-spacing: 0.1875rem;
    font-size: 3.125rem;
    font-weight: bolder;
    position: relative;
}



/* x-small below 576px device*/
@media screen and (max-width:575px) {
    .first-char {
        font-size: 1rem;
    }

    .name {
        font-size: 1rem;
    }

    .home-conatiner {
        margin-top: 0;
    }

}

/* small above 576px device*/
@media screen and (min-width:576px) and (max-width:767px) {
    .first-char {
        font-size: 1.5rem;
    }

    .name {
        font-size: 1.5rem;
    }
}

/* medium above 768px device*/
@media screen and (min-width:768px) and (max-width:991px) {
    .first-char {
        font-size: 2rem;
    }

    .name {
        font-size: 2rem;
    }
}

/* large above 992px device*/
@media screen and (min-width:992px) {}