.home-conatiner {
    margin-top: 3.125rem;
}

.first-char {
    letter-spacing: 0.1875rem;
    color: #7f8690;
    font-size: 3.125rem;
    font-weight: bolder;
}

.name {
    color: #ffffff;
    letter-spacing: 0.1875rem;
    font-size: 3.125rem;
    font-weight: bolder;
    position: relative;
}