.image-container {
    position: relative;
}

.background-image {
    width: 18.75rem;
    height: 25rem;
    border: 15px solid #4fb7dc;
    border-radius: 0.9375rem;
    position: relative;
    z-index: -1;
}

.image-container>img {
    /* object-fit: contain; */
    position: absolute;
    width: 18.75rem;
    height: 24.375rem;
    top: -1.875rem;
    left: -3.125rem;
    z-index: 1;
    border-radius: 0.9375rem;
    background-color: #ffffff;
}

/* x-small below 576px device*/
@media screen and (max-width:576px) {}

/* small above 576px device*/
@media screen and (min-width:576px) and (max-width:768px) {}

/* medium above 768px device*/
@media screen and (min-width:768px) and (max-width:992px) {}

/* large above 992px device*/
@media screen and (min-width:992px) {}