.skills-container>h5 {
    color: #FFFFFF;
    margin-bottom: 0.9375rem;
    font-size: 1.5625rem;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    letter-spacing: 1px;
}

.skills-list {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    flex-wrap: wrap;
}

.skill>img {
    object-fit: contain;

}


.skill-name {
    color: #b4b8b9;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
}



/* x-small below 576px device*/
@media screen and (max-width:576px) {}

/* small above 576px device*/
@media screen and (min-width:576px) and (max-width:768px) {}

/* medium above 768px device*/
@media screen and (min-width:768px) and (max-width:992px) {}

/* large above 992px device*/
@media screen and (min-width:992px) {}